.section__wrapper.product-list
    #product-list.product-list__label Наши проекты и интересные факты
    .product-list__list-wrapper
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image1.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.button.product-list__item-button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image2.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image3.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image4.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image5.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image6.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image7.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image8.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image9.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image10.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image11.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ
        .product-list__item
            img.product-list__item-image(src="../../img/productList/image12.png")
            .product-list__item-label_main Что такое стабилизи-рованный мох?
            .product-list__item-control
                .product-list__item-label_hover Озеленение холла и спальни
                button.product-list__item-button.button ПОДРОБНЕЕ

    .product-list__control
        .button.product-list__control-more ПОКАЗАТЬ ЕЩЕ
        .product-list__pagination-wrapper
            .product-list__pagination-item.product-list__pagination-item_left-zero
            .product-list__pagination-item.product-list__pagination-item_left
            .product-list__pagination-item.product-list__pagination-item_current 1
            .product-list__pagination-item 2
            .product-list__pagination-item 3
            .product-list__pagination-item 4
            .product-list__pagination-item.product-list__pagination-item_right
            .product-list__pagination-item.product-list__pagination-item_right-zero