.section__wrapper.ready-products
    .ready-products__label Готовые панно
    .ready-products__label-second Вы можете выбрать для себя готовое решение, точная стоимость будет зависеть от желаемого размера изделия. Срок изготовления – 10 дней.
    .ready-products__list-wrapper
        .ready-products__list-item
            .ready-products__list-item-image-wrapper
                img.ready-products__list-item-image(src="../../img/readyProducts/image1.png")
                .ready-products__list-item-button-wrapper
                    .button.ready-products__list-item-button ПОДРОБНЕЕ
            .ready-products__list-item-label Настенное панно олень
            .ready-products__list-item-cost от 6 233 ₽
        .ready-products__list-item
            .ready-products__list-item-image-wrapper
                img.ready-products__list-item-image(src="../../img/readyProducts/image2.png")
                .ready-products__list-item-button-wrapper
                    .button.ready-products__list-item-button ПОДРОБНЕЕ
            .ready-products__list-item-label Настенное панно слон
            .ready-products__list-item-cost от 6 335 ₽
        .ready-products__list-item
            .ready-products__list-item-image-wrapper
                img.ready-products__list-item-image(src="../../img/readyProducts/image3.png")
                .ready-products__list-item-button-wrapper
                    .button.ready-products__list-item-button ПОДРОБНЕЕ
            .ready-products__list-item-label Настенное панно дерево
            .ready-products__list-item-cost от 6 241 ₽
        .ready-products__list-item
            .ready-products__list-item-image-wrapper
                img.ready-products__list-item-image(src="../../img/readyProducts/image4.png")
                .ready-products__list-item-button-wrapper
                    .button.ready-products__list-item-button ПОДРОБНЕЕ
            .ready-products__list-item-label Настенное панно планета
            .ready-products__list-item-cost от 8 052 ₽
