.main__wrapper
  // ---------- Шапка начало
  header.section__wrapper.header__section
    .header__wrapper
      .open__mobile-menu
        .open__mobile-menu-btn
      img.header__logo(src="../img/header/logo.png")
      ul.menu__wrapper
        li.menu__item
          a.menu__link(href="#about") о компании
        li.menu__item
          a.menu__link(href="#product-list")  наши проекты
        li.menu__item
          a.menu__link(href="#ready-products") готовые панно
        li.menu__item
          a.menu__link калькулятор стоимости
        li.menu__item
          a.menu__link чек-лист по уходу
      .contacts__wrapper
        a.contacts__phone(href="tel:+74995530845") +7(499) 553 08 45
        .contacts__social
          a.contacts__icon.contacts__icon-watsap(href="#")
          a.contacts__icon.contacts__icon-telegram(href="#")
          .contacts__time 9:00-21:00
    img.header__logo.header__logo_second(src="../img/header/logo.png")
    h1.header__label Профессиональное озеленение вашего интерьера
    .header__label-second  от уникального фитодизайна помещения до ухода за растениями
    a.header__button.button оставить заявку
  //-------------шапка конец