.section__wrapper.about__section
    .about__left-side
        .about__text-wrapper
            #about.about__text-label Давайте знакомиться!
            .about__text-quote Приветствую всех! Меня зовут Оля и я обожаю оживлять пространство вокруг себя!
            .about__text-content Всё началось с раннего детства. Родители занимались разведением аквариумных рыбок, растений и попугаев. Росла в частном секторе, максимально близко к природе. В специально оборудованной комнате стояло 40 аквариумов с общим объёмом воды 12 тонн ! Думаю жизнь в аквариуме – наглядный пример того, что происходит в организме человека. Требуется постоянный уход. Важно правильно кормить, удобрять, регулярно чистить аквариум, отслеживать качество воды, температуру. В противном случае растения сгниют, а рыбки передохнут. Ровно, как с человеческим телом. Если не следить за тем, что ешь, пьешь, думаешь, не очищать организм и пространство вокруг себя – результат будет плачевным.
    .about__right-side
        .about__images-wrapper
            .about__images-big
              img(src="../img/about/about-big.png")
            .about__images-small
              img(src="../img/about/about-small.png")
