.section__wrapper.footer
    form#footer-form.footer__form-wrapper
        .footer__form-label Заполните форму, чтобы скачать 3D-модель панно
        .footer__form-field-wrapper
            input.input.footer__form-field-input(placeholder="ВАШЕ ИМЯ")
            input.input.footer__form-field-input(placeholder="НАЗВАНИЕ БЮРО")
            input.input.footer__form-field-input(placeholder="ИНН")
        submit.button.footer__form-submit СКАЧАТЬ

    .footer__social-wrapper
        .footer__social-label Мы в социальных сетях
        .footer__social-button-wrapper
            a.footer__social-button-item.inst
                <svg width="44" height="43" viewBox="0 0 44 43" fill="#658961" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.92766 0H40.9872C42.634 0 43.9149 1.28085 43.5489 2.74468V40.2553C43.5489 41.7192 42.2681 43 40.8043 43H2.74468C1.28085 43 0 41.7192 0 40.2553V2.74468C0 1.28085 1.28085 0 2.92766 0ZM7.50213 21.5915C7.50213 29.6426 14.0894 36.0468 21.9574 36.0468C29.8255 36.0468 36.4128 29.6426 36.4128 21.5915C36.4128 13.5404 30.0085 7.13617 21.9574 7.13617C13.9064 7.13617 7.50213 13.5404 7.50213 21.5915ZM35.8638 4.39149C35.8638 5.30638 36.5957 6.0383 37.5106 6.0383C38.6085 6.0383 39.1574 5.30638 39.1574 4.39149C39.1574 3.4766 38.4255 2.74468 37.5106 2.74468C36.5957 2.74468 35.8638 3.4766 35.8638 4.39149ZM11.1617 21.5915C11.1617 15.5532 16.1021 10.7957 21.9574 10.7957C27.8128 10.7957 32.7532 15.5532 32.7532 21.5915C32.7532 27.6298 27.9957 32.3872 21.9574 32.3872C15.9192 32.3872 11.1617 27.6298 11.1617 21.5915ZM16.1021 15.5532C16.1021 16.4681 16.834 17.2 17.7489 17.2C18.6638 17.2 19.3957 16.4681 19.3957 15.5532C19.3957 14.6383 18.6638 13.9064 17.7489 13.9064C16.834 13.9064 16.1021 14.6383 16.1021 15.5532Z"/></svg>
            a.footer__social-button-item.wk
                img(src="../../../img/footer/wk.png")
            a.footer__social-button-item.fb
                <svg width="26" height="43" viewBox="0 0 26 43" fill="#658961" xmlns="http://www.w3.org/2000/svg"><path d="M7.90866 42.7124V23.3112H0.47756V15.89H7.91047V10.2885C7.91047 3.83903 12.3333 0.28758 18.8781 0.28758C22.0117 0.28758 24.762 0.481791 25.5481 0.57014V7.4085H20.9014C17.3417 7.4085 16.6756 8.89289 16.6756 11.0839V15.89H25.1936L24.087 23.3112H16.6756V42.7124H7.90866Z"/></svg>
