.section__wrapper.about-second__section
    .about-second__left-side
        .about-second__slider-wrapper
            .about-second__slider-item
                img.about-second__slider-img(src="./img/aboutSecond/image-1.png")
    .about-second__right-side
        .about-second__content-wrapper
            .about-second__content-first Pа 35 лет жизни, связанной с природой, почувствовала как много в ней взаимосвязей. Человек неразделим с едой, водой, солнцем, землёй.    Возможно громко прозвучит, но это моя действительность. Ничего прекрасней нету, чем любить эту планету. Мои панно частичка этой любви которую вы можете занести в дом в месте с созданным мною искусством из зелёных растерий.
            .about-second__content-label Будьте уверенны, второго такого изделия нет.
            .about-second__content-second Это авторская работа и каждая композиция собирается исключительно отличительно от других 🙌  Конечно возможно по желанию и «клонировать» повторить понравившуюся композицию на 80% Спросите - Почему на 80%? Отвечу – стабилизированные растения не искусственная штамповка, а натуральные растения, каждый пучок может отличатся размером листьев и цветом, на два три тона может отличаться цвет предупреждает производсво.