.section__wrapper.form-block
    .form-block__wrapper
        .form-block__label Чек-лист по уходу за фитостеной из живых и стабилизированных растений
        .form-block__label-second Заполните форму, чтобы скачать презентацию
        form.form-block__field-wrapper
            input.input.form-block__field-item(placeholder="ВАШЕ ИМЯ")
            input.input.form-block__field-item(placeholder="ГОРОД")
            input.input.form-block__field-item(placeholder="+7 (000) 000 00 00")
            input.input.form-block__field-item(placeholder="РАЗМЕР ПАНОб М2")
            submit.button.form-block__field-button СКАЧАТЬ